<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consumables List</title>
</head>
<body>
<h3>Consommables :</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="consumable : ${consumables}">
        <td th:text="${consumable.id}">id</td>
        <td th:text="${consumable.name}">first name</td>
        <td><a th:href="@{/consumable/register(idConsumable=${consumable.id})}">Consommables</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>